body {
   
   font-family: Nunito, sans-serif;
    color: #1c1c1c;
    margin: 0 auto;
  
}

h1, h2, h3{
  font-family: Inter, sans-serif;
   color: #000000;
  
}


.botao{
  
  color: #FFFFFF;
    text-decoration: none;
      padding: 10px 30px;
        background-color: #191970;
          font-size: .9em;
            border-radius: 3px;
  
}


nav{
  
  
  display: flex;
    flex-direction: column;
      align-items: center;
        background-color: #db7216;
  
}

nav  a{
  
 text-decoration: none;
  color: #FFFFFF;
    font-weight: 800;
      font-size: 20px;
        font-family: Inter, serif;
 
 
}
  
nav ul{
  
  display: flex;
    flex-direction: column;
      align-items: center;
        list-style: none;
       padding: 0;
     width: 100%;
  margin: 0;
}


nav ul li {
  
    text-align: center;
      width: 100%;
      margin: 0;
      
    
}

nav ul li a {
  
    display: inline-block;
      padding: 40px 0; 
        width: 100%;
          text-decoration: none;
            color: #000000;
            font-family: 'montserrat',arial,sans-serif;
            
}

.media-object{
background-color: #FFFFFF;
padding: 0 20px;
}


a:hover{
  background-color: #8b542f;
  border-radius: 3px;
  color: #e9dede;
  
}

 header {
   
   display: flex;
    flex-direction: column;
      align-items: center;
        background-image: url("../img/fundo.jpeg");
          background-size: cover;
            background-position: center;
          background-repeat: no-repeat;
        color: #000000;
      text-align: center;
    padding: 20px;
   
}

header h1{
  
  font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

header p{
  
  margin-bottom: 2em;
  
}

#historia {
  
  display: flex;
    flex-direction: column;
      align-items: center;
      text-align: center;
    padding: 10px 10px 20px 20px;
  background-color: #FFCB9E
  
}

#historia p {
  
    margin-bottom: 2.5em;
     max-width: 1000px;
    
}

#servicos{
  
  display: flex;
   flex-direction: column;
    align-items: center;
     padding: 30px;
  
}

#servicos div {
  
  display: flex;
   flex-direction: column;
    align-items: center;
     text-align: center;
      margin-top: 40px;
  
}

#produtos {
  
  display: flex;
   flex-direction: column;
    align-items: center;
     padding-top: 20px;
  
}

#produtos a{
  text-decoration: none;
}

#produtos h2{
  
  margin-bottom: 20px;
  
}


#produtos img{
  
  width: 100%;

}

#contatos {
  
  
 display: flex;
  flex-direction: column;
   align-items: center;
    text-align: center;
     padding: 20px;


}

footer{
  font-family: Oxygen, serif;
    text-align: center;
      padding: 10px;
        background-color: #FFCB9E;
  
}

footer a{
  
  text-decoration: none;
  
}

@media screen and (min-width: 768px){
  
  nav{
      flex-direction: row;
        justify-content: space-around;
    
  }
  nav ul{
    
    flex-direction: row;
      width: 70%;
    
  }
  
  header {
    
    height: 600px;
      height: 60vh;
        justify-content: center;
    
 }
 
 #historia{
   
   height: 250px;
    height: 30vh;
      justify-content: center;
        min-height: 250px;
   
}

#servicos {
  
  
  flex-direction: row;
    flex-wrap: wrap;
      align-items: flex-start;
        max-width: 1000px;
         margin: 0 auto;
  
  
}
  
#servicos h2{
 justify-content: center;
 text-align: center;
  width: 100%;
 
  
}
#servicos div{
  
  flex-grow: 1;
    flex-basis: 150px;
     padding: 25px;
     
}
     

#produtos{
  
 flex-grow: row;
  flex-wrap: wrap;
    justify-content: space-around;
  
}

#produtos h2{
  
 width: 100%;
  text-align: center;
 
}
  
#produtos img{
  
  width: 33.3333333%;
  
}

#contatos{
  
  flex-direction: row;
    flex-wrap: wrap;
      justify-content: space-around;
        max-width: 500px;
          margin: 0 auto;
  
}


#contatos h2, #contatos p{
  
  
  width: 100%;
  
  
}


}


